body *{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 16px;
}


h1,h2,h3,h4,h5,h6{

}

/*header code*/
.header{
    width:1200px;
    height: 500px;
    background-image: url(city.jpg);
    background-repeat: no-repeat;
    background-size: 1200px 500px;
    margin: 0 auto;
}

.navbar{
    margin: 30px 0px 0px 100px;
    }


ul{
    list-style-type: none;
}

li{
    width: 200px;
    height: 50px;
    line-height: 50px;
    background-color: black;
    text-align: center;
    float: left;
}

a:hover{
    color: white;
}

a{
    text-decoration: none;
    display: block;
    color: gray;
}

.header h1{
    font-size: 3em;
    text-align: center;
    padding: 80px;
    color: cadetblue;
}

.header h3{
    font-size: 1.5em;
    text-align: center;
    color: brown;
}

/*section code*/

.section{
    width:1200px;
    margin: 0 auto;
}

.section h1{
    text-transform: none;
    font-size: 2em;
    padding-top: 30px;
}

.gallery{
    width: 220px;
    padding: 30px;
    margin: 0 auto;
}
.gallery img{
    width:220px;
    height:150px;
    border-radius: 10px;
    transition: all 1s linear;
}

 .design:hover{
    opacity: 0.5;
     width:250px;
     height: 200px;
     box-shadow: 5px 5px 5px skyblue;
}

.gallery p{
    padding-top: 10px;
    text-transform: none;
    text-align: justify;
    text-indent: 30px;
}

.gallery a{
    margin-top: 30px;
    color:white;
    background-color: black;
    width: 130px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: none;
    border-radius: 10px;
}

.section1{
    float: left;
    padding-left: 20px;
}

/*section1 code*/

.section2{
    width: 1200px;
    margin: 0 auto;
    border-top: 5px solid gray;
    clear: left;
    display: flex;
    justify-content: space-between;
}

.sec1{
    width:700px;
}

.sec1 h1{
    text-transform: none;
    font-size: 2.5em;
    margin-top: 50px;
}

.sec1 h3{
    font-size: 0.8em;
    margin-top: 10px;
}

.sec1 img{
    width:700px;
    height: 200px;
    border-radius: 10px;
    margin-top: 30px;
}

.sec1 p{
    padding-top: 20px;
    text-transform: none;
    text-align: justify;
    text-indent: 30px;
}

.sec1 a{
    margin-top: 30px;
    color:white;
    background-color: black;
    width: 130px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: none;
    border-radius: 10px;
}

.sec2{
    width: 450px;
}

.sec2 h1{
    margin-top: 50px;
    text-transform: none;
    font-size: 2.5em;
}

.sec2 h3{
    font-size: 0.8em;
    margin-top: 10px;
}

.sec2 p{
    padding-top: 20px;
    text-transform: none;
    text-align: justify;
    text-indent: 30px;
}

.sec2 a{
    text-decoration: underline;
    text-decoration-color: red;
    text-transform: none;
    color:red;
    margin-top: 25px;
}

/*section3 code*/

.section3{
    width:1300px;
    margin: 0 auto;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.hw1{
    width: 700px;
    display: flex;
    justify-content: space-between;
    
}

.lec1{
    width: 300px;
}

.lec2{
    width: 
}

.hw1a{
    width:300px;
    display: flex;
    justify-content: space-between;
}

.pho{
    width: 125px;
}

.pho img{
    width:125px;
    height: 100px;
    border-radius: 10px;
    margin-top: 70px;
    margin-left: 50px;
}

.pho1{
    width: 125px;
}

.pho1 p{
    text-transform: none;
    color: lightgray;
    margin-top: 70px;
    margin-left: 20px;
    }

.cmt{
    width:700px;
}
.p1{
    color:lightgray;
    margin-top: 20px;
    margin-left: 50px;
    text-transform: none;
}

.hw2{
    width: 550px;
    margin-right: 50px;
}

.hw2 h1{
    margin-top: 70px;
    text-transform: none;
    font-size: 2.5em;
    color: lightgray;
    
}

.hw2 p{
    padding-top: 20px;
    text-transform: none;
    text-align: justify;
    text-indent: 30px;
    color: lightgray;
}

.hw2 a{
    text-decoration: underline;
    text-decoration-color: red;
    text-transform: none;
    color:red;
    margin-top: 25px;
}